<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD19fm5uwAaGPln9J37a60SV0Yy_twJ1mU</string>
	<key>GCM_SENDER_ID</key>
	<string>365045101497</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.save.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>paws-55b76</string>
	<key>STORAGE_BUCKET</key>
	<string>paws-55b76.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:365045101497:ios:91957ceab7f2f870387c68</string>
</dict>
</plist>